<!-- MODAL MULTIPLIER DIALIG
================================================== -->
<div id="multModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Number of dice to roll:</h4>
            </div>
            <div class="modal-body">
                <div class="button-panel">
                    <button ng-repeat="mult in dice.mult" ng-click="doChangeMult(mult)" class="btn-num btn btn-default">{{mult}}</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
